/* #image1 {
    width: 200px;
    height: 200px;
}

#image2 {
    width: 200px;
    height: 200px;
}

#image3 {
    width: 200px;
    height: 200px;
}

#image4 {
    width: 200px;
    height: 200px;
} */

.magic-header {
    background: red;
        border : 100px;
        border-color : black;
}

.container {
    background: rgb(93, 93, 139);
}

body{
    background: black;
}

.crystal {
    border: 1px solid green;
    height: 200px;
    width : 200px;
}
.crystals {
    display: flex;
    justify-content: space-around;
   
    align-items: center;

}
